/* Contenedor principal */
.categorias-container {
    padding: 20px;
    color: #fff;
    width: 100%;
    /* Ocupa todo el ancho */
    padding-right: 15px;
    /* Padding lateral, igual al de Bootstrap */
    padding-left: 15px;
    padding-bottom: 50px;
    margin-right: auto;
    /* Centra el contenido en caso de viewport grande */
    margin-left: auto;
    min-height: 100vh;
}

/* Título */
.categorias-container h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-bottom: 15px;
    color: #ff4800;
    font-size: 2rem;
    text-align: center;
}

/* Agregar categoría */
.agregar-categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px 20px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #292828;
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.agregar-categoria input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 50%;
}

.agregar-categoria button {
    padding: 10px 20px;
    background-color: #2c6900;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.agregar-categoria button:hover {
    background-color: #0f8721;
}

.categoria-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #292828;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.categoria-detalles {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

/* Lista de categorías */
.lista-categorias {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categoria-nombre {
    flex: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f0a500;
}

.categoria-contenedor-botones {
    width: 40%;
}

/* Botones */
.categoria-item button {
    width: 40%;
    margin-left: 10px;
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categoria-item .editar {
    background-color: #007bff;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item .editar:hover {
    background-color: #0056b3;
    box-shadow: 0 0 8px rgba(46, 107, 198, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item .eliminar {
    background-color: #dc3545;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item .eliminar:hover {
    background-color: #c82333;
    box-shadow: 0 0 10px rgba(198, 46, 46, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item .guardar {
    background-color: #317f20;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item .guardar:hover {
    background-color: #246914;
    box-shadow: 0 0 12px rgba(19, 123, 7, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item .cancelar {
    background-color: #dc5935;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item .cancelar:hover {
    background-color: #ba5320;
    box-shadow: 0 0 10px rgba(202, 80, 40, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-detalles input {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    width: 50%;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsive */
@media (min-width: 576px) {
    .categorias-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .categorias-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .categorias-container {
        max-width: 960px;
    }
}