.usuarios-container {
  padding: 20px;
  color: #fff;
  width: 100%;
  /* Ocupa todo el ancho */
  padding-right: 15px;
  /* Padding lateral, igual al de Bootstrap */
  padding-left: 15px;
  padding-bottom: 50px;
  margin-right: auto;
  /* Centra el contenido en caso de viewport grande */
  margin-left: auto;
  }
  
  .usuarios-container h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-bottom: 15px;
    color: #ff4800;
    font-size: 2rem;
  }
  
  .filtro-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .filtro-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #292828;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 0 5px rgb(255, 0, 0);
  }
  
  .usuarios-list {
    margin-top: 40px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #292828;
    box-shadow: 0 0 5px rgb(255, 0, 0);
  }
  
  .usuario-item {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(255, 0, 0);
  }
  
  .usuario-detalles {
    flex-grow: 1;
  }
  
  .usuario-detalles h2 {
    color: #ffd500;
    margin: 0;
  }
  
  .usuario-detalles p {
    margin: 0.5rem 0;
  }
  
  .usuario-boton .ver-compras {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .usuario-boton .ver-compras:hover {
    background-color: #c82333;
    box-shadow: 0 0 10px rgba(198, 46, 46, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .vacio_h3 {
    margin: 20px;
    padding: 20px;
    color: #ffd500;
    font-size: 1.3rem;
  }
  
  
@media (min-width: 576px) {
  .usuarios-container{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .usuarios-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .usuarios-container {
    max-width: 960px;
  }
}