.mis-compras-container {
    padding: 20px;
    color: #fff;
    width: 100%;
    /* Ocupa todo el ancho */
    padding-right: 15px;
    /* Padding lateral, igual al de Bootstrap */
    padding-left: 15px;
    padding-bottom: 50px;
    margin-right: auto;
    /* Centra el contenido en caso de viewport grande */
    margin-left: auto;
    /*min-height: 100vh;*/
}

.mis-compras-container h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-bottom: 15px;
    color: #ff4800;
    font-size: 2rem;
    text-align: center;
}

.vacio_h3 {
    margin: 20px;
    padding: 20px;
    color: #ffd500;
    font-size: 1.3rem;
}

.vacio_p {
    color: #ffffff;
    margin: 20px;
    padding: 20px;
    font-size: 1.1rem;
}

.compras-videojuegos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.compra-card {
    margin-top: 40px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #292828;
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

.compra-item {
    display: flex;
    gap: 1rem;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.compra-imagen {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.compra-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.compra-info h3 {
    color: #ffd500;
    margin: 0;
}

.compra-info p {
    margin: 0.5rem 0;
}


@media (min-width: 576px) {
    .mis-compras-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .mis-compras-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .mis-compras-container {
        max-width: 960px;
    }
}